linkImg
{

width: 30%;
height: 24px;
left: 1213px;
top: 197px;
}

.Ajout {
    width: 8%;
    left: 700px;
}
.Tabicons {
  width: 7%;  
  padding-top:230px; 
  padding-right:20px;  
}
.TabiconsMod {
    width: 63%;   
}
.TabiconsDel {
  width: 45%;   
}

.TitreTab {


}

.Table {
    top : 100px;
    padding-top: 6px;
    border-spacing: 20px;
    border-collapse: separate;
    padding-right: 30px;
    left: 30px;

  }
  
  th {
    padding: 8px;
    text-align: left;
    color : #51CBCE;  
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }

  td {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;}
.myinput {

    width: 10%;             
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-left: 12px; /* Add some space below the input */
    border-radius: 5px}

.Boutonloop {
    padding:6px 0 6px 0;
    background : #FCC468;
    width: 5%; 
    border-radius: 5px
}

#fname {
  visibility: hidden;
  width: 20%;
  padding: 13px 20px 12px 40px;
  margin-left: 10px;
  left: 317px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
}
#fprice {
  visibility: hidden;
  width: 20%;
  padding: 13px 20px 12px 40px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  left: 500px;
  margin-left: 12px;
}
#fsubmit {
  visibility: hidden;
  width: 20%;
  padding: 13px 20px 12px 40px;
  background: #FCC468;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  margin-left: 12px;
}
#addMod {
  visibility: hidden;
}