.LogoName {
    position: absolute;
    width: 222px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.Name {
    position: absolute;
    width: 181px;
    height: 25px;
    left: 20px;
    top: 23px;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    
    color: #66615B;
}